body{
    background-image: url("/assets/images/421841.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  color: white;
}

h1, h2{
  text-align: center;
  line-height: 48px;
  margin-bottom: 10px;
}
.container{
  width: 60%;
  margin-left: auto ;
  margin-right: auto ;
  background: rgba(0,0,0,.3);
  text-align: center;

}

li{
  padding: 5px;
}

button{
  margin-left: 10px;
  margin-bottom: 5px;
  color: black;
}

#bu{
  color: black;
}

col1 {
  width:50%;
  border-color: white;
  border-width: 5px;
}